body {
   font-family: "Barlow Condensed";
}

main {
   max-width: 1000px;
   margin: auto;
}

#start {
   text-align: center;
}
.timer-container {
   display: flex;
   justify-content: center;
   gap: 4px;
}

header {
   display: flex;
   justify-content: space-between;
   margin: auto;
   max-width: 1000px;
}
